 /*Выберите абзацы <p> внутри дивов <div>*/
 div p { 
 	color: blue;
 }
 /*вес селектора - 2*/

 /*Выберите все <h2> внутри дивов <div>*/
div h2 {
	color: green;
}
/*вес селектора - 2*/

 /*Выберите все абзацы <p> из элемента с id=test*/
#test p {
	color: red;
}
/*вес селектора - 0 1 0 1*/
 /*Выберите все <h2> из элемента с id=test*/
#test h2 {
	color:purple;
}
/*вес селектора - 0 1 0 1*/
 
/*Выберите все элементы с классом bbb*/
.bbb{
	font-size: 22px;
}
/*вес селектора - 0 0 1 0*/
 /*Выберите все элементы с классом bbb из элемента с id=test*/
 #test .bbb{
 	background: blue;
 }
/*вес селектора - 0 1 1 1*/
 /*Выберите все абзацы <p> с классом bbb*/
 p.bbb {
 	background: red;
 }
 /*вес селектора - 0 0 1 1*/

 /*Выберите все <h2> с классом bbb*/
 h2.bbb {
 	background: green;
 }
 /*вес селектора - 0 0 1 1*/

 /*Выберите все абзацы <p> с классом bbb из элемента с id=test*/
#testxx p.bbb{
	color: green;
}
/*вес селектора - 0 1 1 1*/
 /*Выберите все элементы с классом bbb и элементы с классом xxx одновременно*/
 .bbb, .xxx { 
 	background: purple;
 	color: white;
 }
 /*вес селектора - 20*/
 /*Выберите все абзацы <p> с классом bbb и <h2> с классом xxx одновременно*/

p.bbb,h2.xxx {
	color: red;

}
/*вес селектора - 0 0 1 1*/
/*вес селектора - 0 0 1 1*/
 /*Выберите все абзацы <p> с классом bbb из id=test и все абзацы <p> с классом xxx из id=test одновременно*/

#testx p.bbb, #testx p.xxx {
	background: red;
	color: white;
} 
/*вес селектора - 0 1 1 1*/
/*вес селектора - 0 1 1 1*/
 /*Выберите все элементы из класса fff*/
 .fff * {
 	color: red;
 	background: blue;
 }
 /*вес селектора - 0 0 1 0*/

 /*Выберите все абзацы <p> из класса fff*/
 .fff p {
 	color: blue;
 }
/*вес селектора - 0 0 1 1*/
 /*Выберите все абзацы <p> с классом fff*/
 p.fff {
 	color: red;
 }
 /*вес селектора - 0 0 1 1*/

 /*Выберите все элементы с классом bbb из класса fff*/
 .fff .bbb {
 	color: green;
 }
/*вес селектора - 0 0 2 0*/

 /*Выберите все <h2> с классом bbb из класса fff*/
 .fff h2.bbb {
 	color: black;
 }
 /*вес селектора - 0 0 2 1*/